@import '../../helpers/_selectors';
@import '../../helpers/_size.scss';
@import '../core/theme.scss';

.access_options{
    margin-top: 1rem;
    align-self: center;
    .img{
        // align-self: center;
        padding-right: 20px;
        width: 65px;
        img{
            height: 30px;
        }
    }
    .text{
        width: 100%;
        font-size: 20px;
    }
    .ev_access &{
        .img{
            display: inline;
            padding-right: 10px;
            width: 65px;
            img{
                height: 22px; 
                @include screen-below('sm'){
                    height: 20px;
                }
            }
        }
    }
}

.hero_image{
    img {
        width: 100%;
    }
}

.accordion {
    width: 100%;
    margin: 0 auto;
    border-top: thin solid black;
    margin-top: 50px;
}
.accordion-item {
    margin: 5px 0;
}
.accordion-header {
    cursor: pointer;
    padding: 10px;
    margin-left: 30px;
    position: relative;
    &::before{
        content: '+';
        position: absolute;
        left: -30px;
        font-size: 1.5em;
        top: 0;
    }
    &.active::before {
        content: '-';
    }
}
.accordion-content {
    display: none;
    padding: 10px;
}

gmp-map {
    height: 400px; 
}

.button-grid{
    button{
        width: 100%;
    }
    &#categoryButtons{
        margin-right: 0;
        button, h3{
            display: inline-block;
            width: 100%;
            @include screen-above('sm'){
                width: 170px;
                font-size: 20px;
            }
            @include screen-above('md'){
                width: 234px;
            }
            @include screen-above('lg'){
                width: 292px;
            }
        }
        h3{
            @include screen-below('sm'){
                text-align: center;
                padding-top: 20px;
                padding-bottom: 30px;
            }
        }
    }
}


.page-sidebar{
    h5{
        padding-bottom: 5px;
        padding-top: 10px;
    }
}

.social-share img{
    cursor: pointer;
    padding-right: 10px;
}

.ev{
    max-width: 325px;
    p{
        @include screen-below('sm'){

        }
    }
    .social-share{
        margin: 1rem 0;
    }
}


.gallery-image{
    cursor: pointer;
}


// modal stuff

/* The Modal (background) */
.modal-single {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 30;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    // background-color: rgb(3, 107, 102);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    
    /* Black w/ opacity */
    &.show{
        display: block;
    }
}

/* Modal Content/Box */
.modal-content {
    margin: 100px auto auto;
    padding: 0;
    border: none;
    width: 80%;
    position: relative;
    /* The Close Button */
    .close {
        color: white !important;
        right: 0;
        top: -72px;
        z-index: 3;
        position: absolute;
        font-size: 85px;
        @include screen-below(sm){
            top: -90px;
        }
    }

    .slider-nav::after {
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z'></path></svg>");
        background-color: #fff;
    }

    .slider-nav-chevron .slider-nav::after {
        mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z'></path></svg>");
    }

    .close:hover,
    .close:focus { 
        color: black;
        text-decoration: none;
        cursor: pointer;
    } 
    button.slider-nav {
        background: transparent;
        position: absolute !important;
        top: 50%;
        transform: translateY(-50%);
        &::after, &::before{
            color: white !important;
        }
    }
    .swiffy-slider { 
        position: relative;
        width: auto;
        background: none;
        button {
            &:hover {
                background-color: transparent;
            }
        }
    }
    
    .slider-container>* {
        position: relative;
        width: fit-content;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 0 auto;
        padding: 10px;
        overflow: hidden;
    }
}

.image-modal{
    cursor: pointer;
    max-height: calc(100vh - 200px);
    max-width: 100%;
}

.al-text{
    @include screen-below('sm'){
        padding-top: 40px !important;
    }
}

.mailing-list-btn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include screen-below('sm'){
        justify-content: flex-start;
    }
}

span.hover-state.close.toggle-search-m {
    @include screen-below('sm'){
        top: 18px;
        position: relative;
    }
}


.mobile-reverse-row{
    @include screen-below('sm'){
        flex-direction: column-reverse;
    }
}

.post-item{
    display: none;
}

#load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}

span.caption{
    // position: relative;
    // top: -10px;
    font-size: 14px;
    font-style: italic;
    display: block;
}