@import "../core/theme.scss";

/* FOOTER */
.footer {
    background-color: #E0E0E0;
    padding: 6rem 0;
    text-align: center;
    margin-top: 5rem;
    width: 100%;
    @include screen-above(sm){
        text-align: left;
    }
    &.footer--fixed {
        bottom: 0;
        position: fixed;
    }

    a {
        color: black;
        font-weight: 400;
        display: block;
        font-size: 19px;
        transition: all 0.3s linear;
        &:hover{
            color: $blue;
        }
    } 
    h4{
        margin-bottom: 0;
        @include screen-below('sm'){
            margin-bottom: 10px;
            padding-top: 10px;
        }
    }
    .social-container{
        a{
            display: inline;
            padding-right: 10px;
            padding-left: 0;
            font-size: 40px;
            color: $blue;
            &:hover{
                color: black;
            }
            @include screen-below('sm'){
                font-size: 28px;
            }
        }
    }
    p{
        font-size: 19px;
        // line-height: 20px;
    }
    img{
        align-self: center;
    }
    .baseline-content{
        .col-sm-12{
            flex-direction: column;
            img{
                padding: 15px 0;
            }
            @include screen-above('sm'){
                flex-direction: row; 
                img{
                    padding: 0;
                }
            }
        }
    }
}

#back-top{
    position: fixed;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $blue;
    color: white;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s linear;
    &:hover{
        background-color: black;
    }
    @include screen-below(md){
        bottom: 25px;
        right: 25px;
    }
}